# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# Temporary files
*.swp
*.swo

# Coverage directory for testing
coverage/

# IDE specific files (if applicable)
.vscode/
.idea/

# Dependencies related to Docker (if you're using Docker)
.docker/

# npm package lock file
package-lock.json
